//-
  * create.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Implements create new story page. This is where user compose their
  * story by filling required fields and story content.
  *
  * @author: Quang Huynh
  * @created: 27/04/2018
  * @modified: 28/05/2018


extends ../layout

block meta
  meta(name="csrf-token", content=csrfToken)

block stylesheets
  link(href='/quill/quill.snow.css', rel='stylesheet')
  link(href='/css/story/create.css', rel='stylesheet')
  link(href='/css/library/toastr.min.css', rel="stylesheet")

block scripts
  script(src='/lodash/lodash.js')
  script(src='/typeahead_js/typeahead.jquery.min.js')
  script(src='/typeahead_js/bloodhound.min.js')
  script(src='/quill/quill.min.js')
  script(src='/js/library/toastr.min.js')
  script(id='main-script', src='/js/story/create.js', data-is-edit=isEdit ? 'true' : 'false')

block content
  div(class='container-fluid pt-3 pb-5')
    div(class='row')
      div(class='col-12')
        - var sd = {}
        if story
          - sd.id = story.id || ''
          - sd.title = story.title || ''
          - sd.geo_id = story.location ? story.location.geo_id : null
          - sd.location_name = story.location ? story.location.display_name : ''
          - sd.content = story.formatted_content || ''
          - sd.tags = story.tags || []
        h3(class='mb-3')
          if isEdit
            | Edit story
          else
            | Create a new story
        div(class='form-group mb-3')
          label(for='story-title')
            strong Title of the story
          input(id='story-title', type='text', class='form-control form-control-sm', value=sd.title)
        div(class='form-group mb-3')
          label(for='story-date')
            strong Choose Story Date
          input(id='story-date', type='date', class='form-control form-control-sm')
        div(class='form-group mb-4')
          label(for='story-location')
            strong Select Story City
          div
            input(id='story-location', class='form-control form-control-sm' type='text', autocomplete='off',
            data-geo-id=sd.geo_id, value=sd.location_name)
        div(class='mb-3')
          button(id='voice-record', class='btn btn-secondary btn-sm d-flex align-items-center')
            i(class='material-icons') mic
            | Record your voice
        div(id='toolbar')
          select(class='ql-size')
            option(value='small')
            option(selected='selected')
            option(value='large')
            option(value='huge')
          select(class='ql-header')
            option(selected='selected')
            option(value='6')
            option(value='5')
            option(value='4')
            option(value='3')
            option(value='2')
            option(value='1')
          select(class='ql-font')
          button(class='ql-bold')
          button(class='ql-italic')
          button(class='ql-underline')
          button(class='ql-strike')
          button(class='ql-blockquote')
          button(class='ql-code-block')
          button(class='ql-list', value='ordered')
          button(class='ql-list', value='bullet')
          select(class='ql-color')
          select(class='ql-background')
          select(class='ql-align')
          button(class='ql-image')
          button(class='ql-link')
          button(class='ql-script', value='sub')
          button(class='ql-script', value='super')
          button(class='ql-indent', value='-1')
          button(class='ql-indent', value='+1')
          button(class='ql-direction', value='rtl')
          button(class='ql-clean')
        div(id='editor', class='mb-3')
          | !{sd.content}
        div(class='row mb-3')
          div(class='col-12')
            label(class='d-inline-flex align-items-center', for='story-tag')
              strong Choose keywords that best describe the story
              span(class='d-inline-block', tabindex='0', data-toggle='modal', data-target='#keyword-mdl')
                i(class='material-icons ml-3 info', data-toggle='tooltip', title='Click to learn more about story ' +
                'keywords') info
            div(id='tag-container')
              div(id='tag-buttons')
                if sd.tags
                  each tg in sd.tags
                    include ../components/tag/tag
                    +tag(tg, false)
              div(id='tag-input')
                input(id='story-tag', class='form-control form-control-sm', type='text', autocomplete='off')
              div(id='add-tag', data-toggle='tooltip', data-placement='bottom', title='Type your custom keyword and press this ' +
              'button to add the keyword')
                button(id='add-tag-btn', class='btn')
                  i(class='material-icons') add
        div(class='row my-3')
          div(class='col-12')
            h6(class='d-flex align-items-center')
              strong Or let our system choose keywords for your story
              i(class='material-icons ml-3 info',  data-toggle='tooltip',
              title='We are improving our keywords generator. Join us to make it better by removing any incorrect ' +
              'generated keyword from your stories as well as apply correct keywords') info
            button(id='generate-tag-btn', class='btn btn-secondary btn-sm', data-toggle='tooltip', data-placement='bottom',
            title='Click to generate keywords for your story')
              | Generate keywords
        button(id='create-story-btn', class='btn btn-primary mt-5', data-story-id=sd.id)
          if isEdit
            | Finish editing
          else
            | Publish story
        div(class='modal fade', id='keyword-mdl', tabindex='-1', role='dialog', aria-hidden='true',
        aria-labelledby='keyword-mdl-title')
          div(class='modal-dialog', role='document')
            div(class='modal-content')
              div(class='modal-header')
                h3(class='modal-title', id='keyword-story-mdl-title') Story keywords
                button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
              div(class='modal-body')
                h5 What are story keywords?
                p Story keywords are terms that describe your story's theme and content. For example, #[strong christmas]
                  |  and #[strong birthday] are common keywords for stories.
                h5 Why does your story need keywords?
                p Keywords help readers understand the scope of your story at a quick glance. They also play an important
                  |  role in finding stories that share the same scope with your story.
                h5 How many keywords are enough?
                p We suggest from 3 to 5 keywords.
                h5 How do I add keywords to my story?
                p You can add keywords to the story by typing them in the box below. Please remember to
                  |  #[strong click] / #[strong hit enter] on the keyword suggested or #[strong click] the add (+) button
                  |  explicitly.
                  | #[br]
                p If you see your keywords like
                  - var explTag = {name: 'this-example-keywords'}
                  include ../components/tag/tag
                  +tag(explTag, false, 'btn tag btn-sm mx-2')
                  | then you have successfully added a keyword to your story.
              div(class='modal-footer')
                button(type='btn', class='btn btn-secondary', data-dismiss='modal') Got it
