//-
  * view.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * It displays a story composed by user.
  *
  * @author: Quang Huynh
  * @created: 27/04/2018
  * @modified: 30/07/2018


extends ../layout

block meta
  meta(name="csrf-token", content=csrfToken)

block stylesheets
  link(href='/css/story/view.css', rel='stylesheet')

block scripts
  script(src='/js/library/toastr.min.js')
  script(src='/js/story/view.js')

block content
  div(class='container-fluid pt-3 pb-5')
    div(class='row ')
      div(class='col-md-1 col-lg-2 d-none-xs')
      div(class='col-md-7 col-lg-6 col-sm-12')
        div(class='row')
          div(class='col-md-9')
            h3(class='mb-1') #{story.title}
            small(class='story-info') by #[a(href='/profile/' + story.author.id) #{story.author.fullname}]
              | #{story.location ? ' in ' + story.location.display_name : ''}
          div(id='action-btns', class='col-md-3 d-flex justify-content-end')
            if isOwned
              a(href='/story/edit/' + story.id)
                button(id='edit-btn', class='btn btn-primary', title='Edit this story',
                data-toggle='tooltip', data-placement='bottom')
                  i(class='material-icons') edit
              span(class='d-inline-block', tabindex='0', data-toggle='modal', data-target='#delete-story-mdl')
                button(id='delete-mdl-btn', class='btn btn-danger', title='Delete this story',
                data-toggle='tooltip', data-placement='bottom')
                  i(class='material-icons') delete
        div(class='story-tag')
          each tg in story.tags
            a(href='/search/more/tag/#{tg.name}')
              include ../components/tag/tag
              +tag(tg, true)
        hr
        div(class='story-content', data-story-id=story.id)!=story.formatted_content
        div(class='modal fade', id='delete-story-mdl', tabindex='-1', role='dialog', aria-hidden='true',
        aria-labelledby='delete-story-mdl-title')
          div(class='modal-dialog', role='document')
            div(class='modal-content')
              div(class='modal-header')
                h5(class='modal-title', id='delete-story-mdl-title') Delete story
                button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
              div(class='modal-body')
                | You are about to delete this story. This action #[strong cannot] be undone. Are you sure you want to delete it?
              div(class='modal-footer')
                button(type='btn', class='btn btn-secondary', data-dismiss='modal') No, don't delete it
                button(id='delete-story-btn', type='btn', class='btn btn-danger') Delete it
      div(class='col-md-4 col-sm-12')
        if relatedStories.length > 0
          h3 You may also want to read
          each rs in relatedStories
            div #{rs._id}
            include ../components/story/story-card
            +story-card(rs)

