//-
  * help.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Help page that covers all the features of LSOA
  * @todo: Update to match PDF
  * @author: Tim
  * @created: 28/09/2018
  * @modified: 

extends layout

block stylesheets
  link(href='/css/help.css', rel='stylesheet')
  link(href='/css/style.css', rel='stylesheet')

block content
  div(class='container')
    p.c4.c5
      span.c2
    p.c12.title(id='h.tpb0mqpalfx3')
      span Life Stories - Help!
    p.c5.c14.subtitle(id='h.wa5tckb4ydpq')
      span.c2
    p.c4.c5
      span.c10
        a.btn.btn-primary( href="LifeStoriesManual.pdf") Download Complete Help Guide
    br      
    p.c24.subtitle(id='h.o7dd2f73seay')
      span Table of Contents:
    p.c4.c5
      span.c10
    p.c20
      span
        a.c0(href='#h.fhfgbo1w4qj6') Navigating through the Life Stories Online Website
    p.c7
      span
        a.c0(href='#h.bgalfney8qrn') Start at Home
    p.c7
      span
        a.c0(href='#h.53b6hla2kjm5') Sign Up
    p.c7
      span
        a.c0(href='#h.vayotb9hd2bo') Help!
    p.c7
      span
        a.c0(href='#h.hfzsf5z7aqzb') About You
    p.c7
      span
        a.c0(href='#h.dmq017rrpcs5') Menu
    p.c7
      span
        a.c0(href='#h.hkt5osjp367n') Profile
    p.c7
      span
        a.c0(href='#h.w1xs3696wr35') Settings
    p.c7
      span
        a.c0(href='#h.ngdmfc8knxut') Search
    p.c5.c20
      span.c2
    p.c20
      span
        a.c0(href='#h.bnv01vv5jcs2') Write Your Stories
    p.c7
      span
        a.c0(href='#h.vnr1hx1nygdt') Creating New Stories
    p.c7
      span
        a.c0(href='#h.7zd41v1p0mzd') The Editor
    p.c7
      span
        a.c0(href='#h.a33nw5997ha4') Recording your Voice
    p.c7
      span
        a.c0(href='#h.9vo4ffppwf3e') Tags
    p.c7
      span
        a.c0(href='#h.wwoo0qsmdj88') Editing existing Stories
    p.c5.c8
      span.c2
    h1.c16(id='h.7e89s95qk8a4')
      span.c15.c25 Navigating through the Life Stories Online Website
    h2.c6(id='h.bgalfney8qrn')
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 385.09px; height: 385.09px;')
        img(alt='', src='images/image1.jpg', style='width: 385.09px; height: 385.09px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    h2.c6.c9(id='h.bi6vk848rxrc')
      span.c3
    h2.c6.c9(id='h.vt39gnuoz5y4')
      span.c3
    h2.c6(id='h.9mm501wbc9kt')
      span.c3 Start at Home
    p.c4.c5
      span.c2
    p.c4
      span.c2 Using your Internet browser go to this site:
    p.c4.c5
      span.c2
    p.c4
      span.c17.c21
        a.c0(href='https://www.google.com/url?q=http://www.lifestoriesonline.com.au&sa=D&ust=1538297181408000') http://www.lifestoriesonline.com.au
    p.c4.c5
      span.c2
    p.c4
      span (you can also click on the link above) 
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | You are now on the homepage of the Life Stories Online Application. Which should look like this:
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 340.00px;')
        img(alt='', src='images/image17.png', style='width: 642.82px; height: 340.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | You are greeted with information about the Life Stories Online Application website.
    p.c4.c5
      span.c2
    p.c4
      span If you want to read some publicly shared stories you can click on 
      span.c10 Browse
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | This will provide you with some recent samples of stories written by Life Stories Online Application account holders.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | If you decide you now want to create your own content you need to log into the system.
    p.c4.c5
      span.c2
    p.c4
      span.c2 If you have never used the site before you will need to create an account.
    p.c4.c5
      span.c2
    p.c4
      span You can do so by clicking on 
      span.c17
        a.c0(href='#h.53b6hla2kjm5') Sign up
    p.c4.c5
      span.c2
    p.c4
      span If you already have an account you can click on 
      span.c17
        a.c0(href='#h.cvei2hz6ku5y') Login
    p.c4.c5
      span.c2
    h2.c6(id='h.53b6hla2kjm5')
      span.c3 Sign Up
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | So you have decided to create an account - we look forward to providing you with a great experience.
    p.c4.c5
      span.c2
    p.c4
      span.c2 The sign up page just has a few things to fill out. 
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 288.00px;')
        img(alt='', src='images/image2.png', style='width: 642.82px; height: 288.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span.c2 Fill in the details as required.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | The email you enter here will be used to identify you on the system. This email address will be used when you log in, and will be where notifications are sent if you forget your password.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | The password needs to be at least 8 characters long. Please note that longer passwords are more secure. You can change your password at a later date if you desire. You must enter the same password twice for it to be validated.
    p.c4.c5
      span.c2
    p.c4
      span Once you click on 
      span.c17 Sign Up
      span.c2 , you will be registered with the system.
    p.c4.c5
      span.c2
    p.c4
      span You will then be presented with the 
      span.c17 About You 
      span.c2 page.
    p.c4.c5
      span.c2
    h2.c6.c9(id='h.vayotb9hd2bo')
      span.c3
    h2.c6(id='h.72h4xcrvhy16')
      span.c3 Help!
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | If you are ever feeling lost, the help icon is always sitting at the top of the screen, waiting for you to click on it. You may be reading this because you clicked on it already!
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 396.00px;')
        img(alt='', src='images/image12.png', style='width: 642.82px; height: 396.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | If you need help with a particular issue, you can just just click on a related entry in the table of contents and it will take you directly to that section.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | A complete help guide is also available to download directly. This can be printed, or opened in another program.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | Please note that the help will update as the website expands, so if you have a printed version, and a new feature arrives it will be documented on the website, but not on your printed manual.
    p.c4.c5
      span.c2
    p.c4.c5
      span.c3
    p.c4
      span.c17.c18 Login
    p.c4.c5
      span.c2
    p.c4
      span
        | If you already have an account, you can just click on login in the top right hand corner.
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 228.00px;')
        img(alt='', src='images/image21.png', style='width: 642.82px; height: 228.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span.c2 Enter the email address you used at sign up, and your password.
    p.c4.c5
      span.c2
    p.c4
      span.c2 If this is incorrect, you will be prompted to try again.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | If this is correct you will be logged into the system, and you will be presented with your profile page.
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | If you realise you do not yet have an account, there is a short piece of text stating:
    p.c4.c5
      span.c10
    p.c4
      span.c17.c19 Don&apos;t have an account? Sign up here
    p.c4.c5
      span.c2
    p.c4
      span If you click on that it will take you to the 
      span.c17.c26
        a.c0(href='#h.53b6hla2kjm5') Sign Up
      span.c2 &nbsp;page.
    p.c4.c5
      span.c2
    h2.c6.c9(id='h.hfzsf5z7aqzb')
      span.c3
    h2.c6(id='h.qjzptec87ins')
      span.c3 About You
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | When you set up a new account you will be prompted to fill this page out. It covers many facets of your life. All answers remain private, and you do not need to enter anything here if you do not wish.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | It has been designed to give you starting points for stories. The various questions are designed to get you thinking about different stages of your life. If you are stuck for ideas it is useful to return to this page and browse what you have written or answer a few of the questions.
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 450.67px;')
        img(alt='', src='images/image16.png', style='width: 642.82px; height: 450.67px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4
      span
        | It contains a lot of questions, but don&rsquo;t feel the need to fill them all out now. When you click
      span.c17 Submit,
      span
        | it saves your current answers. When you go back to this page, the answers you gave will still be there, and you can keep adding to them. Note that if you click
      span.c17 Back to Home
      span.c2 &nbsp;- nothing will be saved.
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 523.00px; height: 53.00px;')
        img(alt='', src='images/image14.png', style='width: 523.00px; height: 53.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | Thinking about stories from school, or about your siblings might remind you of some great stories about your life that you want to record and perhaps also share.
    p.c4.c5
      span.c2
    p.c4
      span You can always come back to this page by clicking on 
      span.c17 About You
      span &nbsp;in the 
      span.c17
        a.c0(href='#h.dmq017rrpcs5') Menu
      span.c2 .
    p.c4.c5
      span.c2
    h2.c6(id='h.dmq017rrpcs5')
      span.c3 Menu
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | A menu is always present in the top right hand corner. From here you can navigate to various pages, and you can log out.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | The menu is labelled with your name - so you are always aware of when you are logged in.
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 194.00px; height: 236.00px;')
        img(alt='', src='images/image22.png', style='width: 194.00px; height: 236.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2 When you log out, the menu will be replaced with the login button.
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    h2.c6(id='h.hkt5osjp367n')
      span.c3 Profile
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | The profile contains some very brief information about you, including an image and also a list of all the stories you have written. The stories are sorted by the date in which they transpired.
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 326.67px;')
        img(alt='', src='images/image18.png', style='width: 642.82px; height: 326.67px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | The first time you log into profile you will not have an image. It will instead look like this:
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 145.91px; height: 230.80px;')
        img(alt='', src='images/image4.png', style='width: 145.91px; height: 230.80px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span &nbsp;To add your own image you can click on
      span.c17 &nbsp;Change 
      span.c2
        | and you will be presented with a dialogue to select an image. Select an image from your computer, and click submit. Your new image will now appear in the profile page.
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 362.91px; height: 129.29px;')
        img(alt='', src='images/image19.png', style='width: 362.91px; height: 129.29px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    h2.c6(id='h.w1xs3696wr35')
      span.c3 Settings
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | The setting page allows you to change your password, and set some privacy setting, as seen below.
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 688.91px; height: 513.20px;')
        img(alt='', src='images/image8.png', style='width: 688.91px; height: 513.20px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4
      span.c2
        | Note that to change the password, you must enter your old password first, just to prove it is you requesting the change.
    p.c4.c5
      span.c2
    p.c4
      span.c2 For privacy reasons you can adjust gender, and display options. 
    p.c4.c5
      span.c2
    p.c4
      span If you untick 
      span.c17 Display me in search results
      span.c2 , then no one will be able to find any of your stories.
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    h2.c6(id='h.ngdmfc8knxut')
      span Search
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | The search bar always resides at the top of the page. Enter a search term and click on search. The search will find stories based on their title and by the tags used.
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 504.00px;')
        img(alt='', src='images/image15.png', style='width: 642.82px; height: 504.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    h1.c16(id='h.bnv01vv5jcs2')
      span.c15.c25
        br
        | Write Your Stories
    h2.c6(id='h.ew28w6p5i7r8')
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 218.91px; height: 322.32px;')
        img(alt='', src='images/image10.png', style='width: 218.91px; height: 322.32px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    h2.c6.c9(id='h.ep8kq3pskjb9')
      span.c3
    h2.c6.c9(id='h.23n62ut4gnz1')
      span.c3
    h2.c6(id='h.vnr1hx1nygdt')
      span.c3 Creating New Stories
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | As writing stories is the main function of the Life Stories website, there are a couple of ways to start a new story. All of these ways produce an identical result. The most accessible method is to click on this icon. It always resides in the top right hand corner next to the menu, if you are logged in.
    p.c4
      span &nbsp; 
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 65.00px; height: 66.00px;')
        img(alt='', src='images/image3.png', style='width: 65.00px; height: 66.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | Clicking on this will open the editor. The editor works like a word processor program, such as Microsoft&rsquo;s Word or Corel&rsquo;s Word Perfect. It also has a microphone function so you can dictate rather than type your stories. This allows you to close your eyes and think as you speak without worrying about typing skills, or typos. Everything you say will appear in the editor window, so it can be changed as you see fit.
    p.c4.c5
      span.c2
    h2.c6(id='h.7zd41v1p0mzd')
      span.c3 The Editor
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | Choose a title for your story. This can be anything you find appropriate. Note the title is used as part of the search function, so a well chosen title will make the searches more relevant.
    p.c4.c5
      span.c2
    p.c4
      span.c2 The date is the date the event/story occured - not today&rsquo;s date.
    p.c4.c5
      span.c2
    p.c4
      span The city is where the event occured.
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 640.00px;')
        img(alt='', src='images/image9.png', style='width: 642.82px; height: 640.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4
      span.c2
        | The editor function can all be accessed by clicking on them with a mouse. You can select different fonts, change letter styles, add lists , justify text, add images, and a few other options. Feel free to experiment with all of these functions.
    p.c4.c5
      span.c2
    p.c4
      span Click on
      span.c17 &nbsp;Create New Story
      span &nbsp;to save your work.
    h2.c6(id='h.a33nw5997ha4')
      span.c3 Recording your Voice
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | If you don&rsquo;t want to type everything out, you can record your voice by dictating to the computer.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | You will see a small microphone in the text editor. If you click on this it will activate the microphone.
    p.c4
      span &nbsp; 
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 76.00px;')
        img(alt='', src='images/image7.png', style='width: 642.82px; height: 76.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2 The microphone will go from green to red to indicate that it is recording.
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 31.00px; height: 30.00px;')
        img(alt='', src='images/image6.png', style='width: 31.00px; height: 30.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | Also a little bubble will pop up whilst you are recording. It will stay until you finish recording.
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 313.00px; height: 72.00px;')
        img(alt='', src='images/image11.png', style='width: 313.00px; height: 72.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | This is designed to ensure you are fully aware of when the computer is listening, and when it is not.
    p.c4.c5
      span.c2
    hr(style='page-break-before:always;display:none;')
    p.c4.c5
      span.c2
    h2.c6(id='h.9vo4ffppwf3e')
      span.c3 Tags
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | Tags are keywords used to define the content of your story. They work the same way as hash tags on numerous social media websites, to link common themes.
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 223.00px; height: 121.00px;')
        img(alt='', src='images/image5.png', style='width: 223.00px; height: 121.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | Once you write your story you can add some tags. The system is learning how to add tags, so it will scan your story and try to guess some relevant tags. You can test this by pressing on Auto generate tags. If you do not agree with the tag then you can delete it.
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 332.00px;')
        img(alt='', src='images/image24.png', style='width: 642.82px; height: 332.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span
        | You can then type in your own tags if you want to be more precise. You are encouraged to use multiple tags. To add tags, type in a tag, and then click on the + your new tag will appear next to the current tags.
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 118.67px;')
        img(alt='', src='images/image20.png', style='width: 642.82px; height: 118.67px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span The tags, and your story will all be saved together when you click on
      span.c17 &nbsp;Create New Story
      span.c2 .
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    h2.c6(id='h.wwoo0qsmdj88')
      span.c3 Editing existing Stories
    p.c4.c5
      span.c2
    p.c4
      span.c2 After you save your story, you will be able to see a preview of it. 
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 613.00px; height: 202.00px;')
        img(alt='', src='images/image23.png', style='width: 613.00px; height: 202.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4
      span.c2 If you go back to your profile you will see a preview of all of your stories.
    p.c4.c5
      span.c2
    p.c4
      span.c2 To edit an existing story, just click on the pencil.
    p.c4.c5
      span.c2
    p.c4
      span.c2
        | If you decide you do not want the story any more, click on the red garbage can to delete it forever.
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    p.c4
      span(style='overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 642.82px; height: 249.33px;')
        img(alt='', src='images/image13.png', style='width: 642.82px; height: 249.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);', title='')
    p.c4.c5
      span.c2
    p.c4.c5
      span.c2
    div
      p.c4.c5
        span.c13.c15
      p.c4
        span.c13
          | The Life Stories Online Application Guide - Online Help @copyright 2018

  
  
