//-
  * home.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Display a feed of stories
  * @author: Scott, Quang
  * @created: 27/03/2018
  * @modified: 29/09/2018

extends layout

block stylesheets
  link(href='/css/home.css', rel='stylesheet')

block scripts
  script(src='/js/home.js')

block content
  div(class='container-fluid full-height pt-3')
    div(class='row')
      div(class='col-md-4 col-xl-3 d-none d-md-block navigator')
        if login
          ul(class='navigator list-group')
            li(class='list-group-item')
              i(class='material-icons mr-2') account_circle
              a(href='/profile/' + auth.id) Your profile
            li(class='list-group-item')
              i(class='material-icons mr-2') question_answer
              a(href='/questionnaire') About you
            li(class='list-group-item')
              i(class='material-icons mr-2') note_add
              a(href='/story/create') Create a new story
            li(class='list-group-item')
              i(class='material-icons mr-2') settings
              a(href='/settings') Settings
            li(class='list-group-item')
              i(class='material-icons mr-2') help
              a(href='/help') Help
            li(class='list-group-item')
              i(class='material-icons mr-2') logout
              a(href='/logout') Logout
      div(class='col-md-7 col-md-6')
        if stories.length > 0
          div(class='carousel slide carousel-fade d-flex mx-auto', id='storyCarousel', data-interval='false', data-wrap='false')
            div(class='carousel-inner')
              each story, id in stories
                div(class= id === 0 ? 'carousel-item active' : 'carousel-item')
                  div(class='story', data-story-id=story.id)
                    a(href='/story/' + story.id)
                      h3 #{story.title}
                    - var lc = (story.location ? ('in ' + story.location.display_name) : '')
                    small(class='story-info') by #[a(href='/profile/' + story.author.id) #{story.author.fullname}]
                      |  #{lc}
                    div(class='story-tag')
                      each tg in story.tags
                        include ./components/tag/tag
                        +tag(tg, true)
                    div(class='pt-3 story-preview')!=story.formatted_content
          div(id='menu' class='p-3')
            div(class='pl-md-2 text-center')
              a(id='prev-btn', href='#storyCarousel', role='button', data-slide='prev', class='btn btn-secondary')
                | Previous story
              buton(id='read-more', class='btn btn-primary mx-md-5 mx-sm-2') Read this story
              a(id='next-btn', href='#storyCarousel', role='button', data-slide='next', class='btn btn-secondary')
                | Next story
            div(class='instruction d-none d-md-block')
              hr
              h5 Instructions:
              ul
                li(class='mt-2')
                  | Press #[span(class='btn btn-secondary') Previous] or #[span(class='btn btn-secondary') Next]
                  |  to browse previous or next stories.
                li(class='mt-2')
                  | Press #[span(class='btn btn-primary') Read this story] to read the full story
        else
          h3(class='text-center') There are no stories to show at the moment. Please comeback later


