//-
  * home.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Temporary homepage that contains links to main features.
  * @todo: Implements real home page that display related stories to users.
  * @author: Scott, Quang
  * @created: 27/03/2018
  * @modified: 28/05/2018

extends layout

block stylesheets
  link(href='/css/index.css', rel='stylesheet')

block content
  div(id='main', class='container-fluid pb-5 full-height')
    h1(id='title', class='mb-5') Your Life Stories
    p(class='desc') The Life Stories Online Application has been designed to allow you to write and share long form stories about your life.
    p(class='desc') It implements features that allow you to focus more on your content and stories, rather than on the technology.
    p(class='desc') Use your voice to create stories, then edit them, add images, and share with your friends and family.
    
    btn-toolbar
      a.btn.btn-primary( href="/signup"  style='margin: 6px;') Sign up here
      a.btn.btn-primary( href="/home" style='margin: 6px;') Browses all stories
