//- *
  * layout.jade
  * Basic layout template for Life Story Online app.
  * It contains a nav bar which has a search bar and login/logout button.
  *
  * @author: Quang, Zane, Scott, Tim
  * @created: 27/03/2018
  * @modified: 30/09/2018

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    block meta
    title= title
    link(rel='icon', href='/image/favicon.png')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block stylesheets
  body
    nav(class='navbar navbar-expand-lg navbar-dark py-3')
      a(class='navbar-brand', href='/')
        img(id='lsoa-logo', src='/image/lsoa_logo.svg', alt='Life Stories Online logo')
        | Life Stories
      button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbarLSOA',
        aria-controls='navbarLSOA', aria-expanded='false', aria-label='Toggle navigation')
          span(class='navbar-toggler-icon')
      div(class='collapse navbar-collapse row' id='navbarLSOA')
        form(class='form-inline col-md-6' id='search-form')
          div(id='nav-search', class='input-group')
            input(id='search-field' class='form-control' type='search' placeholder='Search' aria-label='Search')
            div(class='input-group-append')
              input(type='submit' value='Search' class='btn btn-accent')
        div(class='d-none d-md-block')
          a.btn.btn-primary(href="/help") Help
        ul(class='navbar-nav ml-md-auto ml-sm-3 mr-3')
          li(class='nav-item')
            a(class='nav-link', href='/home', data-toggle='tooltip', title='Back to Home page')
              i(class='material-icons mr-md-2') home
              span(class='d-inline d-md-none') Home
          li(class='nav-item d-block d-md-none')
            a(class='nav-link', href='/help', data-toggle='tooltip', title='Help')
              i(class='material-icons mr-md-2') help
              span(class='d-inline d-md-none') Help
          if login
            if auth
                li(class='nav-item')
                  a(class='nav-link', href='/story/create', data-toggle='tooltip', title='Create a new story')
                    i(class='material-icons mr-md-2') note_add
                    span(class='d-inline d-md-none') Create a new story
                li(class='nav-item dropdown')
                  a(class='nav-link dropdown-toggle', href='#', id='profileDropdown', role='button',
                    data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      i(class='material-icons mr-md-2') account_circle
                      | #{auth.details.name.first}
                  div(class='dropdown-menu dropdown-menu-right', aria-labelledby='profileDropdown')
                    a(class='dropdown-item', href='/profile/' + auth.id) Profile
                    a(class='dropdown-item', href='/questionnaire') About You
                    a(class='dropdown-item', href='/settings/') Settings
                    div(class='dropdown-divider')
                    a(class='dropdown-item', href='/logout') Logout
            else
              li(class='nav-item')
                a(href='/logout')
                  button(class='btn btn-accent', type='button') Logout
          else
            li(class='nav-item')
              a(href='/signin')
                button(class='btn btn-accent', type='button') Login
    block content
    script(src='/js/library/popper.min.js')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/search.js')
    script(src='/js/tooltip.js')
    block scripts
