//-
  * profile.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Implements user profile view. It shows user information and a list
  * of their life stories in short form (title only).
  *
  * @author: Zane, Quang, Scott
  * @created: 20/05/2018
  * @modified: 15/08/2018

extends layout

block stylesheets
  link(href='/css/profile/profile.css', rel='stylesheet')

block content
  div(class='container-fluid pb-5')
    div(class='row')
      //- Sidebar
      div(class='col-3 bg-light rounded text-center')
        //- Top
        div(class='row')
          div(class='col-12')
            if profile.avatar_url
              a(href= profile.avatar_url)
                img(class='img-thumbnail mx-auto d-block mt-3', src=profile.avatar_url, alt='User Profile Image')
            else
              img(class='img-thumbnail mx-auto d-block mt-3', src='/image/ava_placeholder.png', alt='User Profile Image')
            a(data-toggle='modal' data-target='#uploadImage' href='/') Change
            p(class='h3 mt-3')= profile.name.full
            if profile.handle
              p(class='h6 text-muted')= '@' + profile.handle
            hr
        //- Bottom
        div(class='row')
          div(class='col-12 mx-auto px-1')
            if profile.age.display
              p= profile.age.birthYear + ' - ' + profile.age.deathYear
      //- End Sidebar

      //- Stories
      div(class='col-9 pt-3')
        //- Header
        div(class='row align-middle')
          //- Story cards
          div(class='col-8')
            h2 Recent stories
            if profile.stories.length > 0
              //- Story cards
              each story in profile.stories
                include components/story/story-card
                +story-card(story)
            else
              //- No stories message
              if ownedByUser
                h2(class='no-story text-center pt-5') You have no stories.
                a(href='/story/create')
                  h3(class='no-story text-center pt-1') Would you like to share one?
              else
                h2(class='no-story text-center pt-5')= profile.name.first + " has not shared any stories."
          if ownedByUser
            div(class='col-4')
              a(href='/story/create')
                button(class='btn btn-primary float-right', type='button') Create new story
      //- End Stories
      div(class='modal fade' id='uploadImage' tabindex='-1' role='dialog' aria-labelledby='uploadImageLabel' aria-hidden='true')
          div(class='modal-dialog' role='document')
            div(class='modal-content')
              div(class='modal-header')
                button(class="close" type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true")&times;
              div(class='modal-body')
                form(action="/upload" method='POST' enctype='multipart/form-data')
                  div(class='btn grey')
                    span File
                    input(type="file" class='form-control-file' name='profileImage')
                  button(type='submit' class='btn btn-primary') Submit
              div(class='modal-footer')