//-
  * questionnaire.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Implements user profile questionnaire. It requests the user share information
  * about their life to help provide prompts for the user to create stories.
  *
  * @todo:
  * @author: Tim, Malith
  * @created: 09/08/2018
  * @modified: 29/09/2018
  *
  * After registering with the web site and an account is created,
  * prompt to fill in a number of questions that will help in creating
  * your story.
  *
  * In each question log the date, location and event.
  * These can later be used to provide hints on other stories that
  * could be linked to yours.

extends layout

block stylesheets
  link(href='/css/style.css', rel='stylesheet')

block scripts
  script(src='/js/questionnaire.js')

block content
  div( class='container')
    br
    h2(class='pb-2') All about you:

    div(id='accordion')
      form(method='put', action='/questionnaire', id='questionnaire')
        input(type='hidden', name='_csrf', value='#{csrfToken}', id='csrf')
        div(class='form-group row')
          div(class='col')
            label(for='dob') Date of Birth
            input(name='dob', id='dob', type='date', class='form-control form-control-sm', value='#{dob}')

          div(class='col')
            label(for='birth_place') Where you were born:
            input(name='birth_place', id='birth_place', type='text', autocomplete='off' class='form-control form-control-sm location-input', value='#{auth.birth_place}')
            
        

        div(class='card')
          div(class='card-header', id='headingOne')
            h4(class='mb-0', data-toggle='collapse', data-target='#collapseOne' aria-expanded="true", aria-controls="collapseOne")
              strong Childhood &emsp;
              small (Click to expand) 
            
          div(id='collapseOne', class='collapse', aria-labelledby='headingOne', data-parent='#accordion')
            div(class='card-body')
              div(class='form-group')
                label(for='guardians') Who looked after you growing up:
                input(name='guardians', id='guardians', type='text', class='form-control form-control-sm', value='#{auth.guardians}')

              div(class='form-group')
                label(for='siblings') Siblings:
                input(name='siblings', id='siblings', type='text', class='form-control form-control-sm', value='#{auth.siblings}')

              div(class='form-group')
                label(for='first_memory') Your first Memory
                textarea(name='first_memory', id='first_memory', type='text', class='form-control form-control-sm') #{auth.first_memory}

              div(class='form-group')
                label(for='fav_childhood_toy') Favourite toy from your childhood:
                input(name='fav_childhood_toy', id='fav_childhood_toy', type='text', class='form-control form-control-sm', value='#{auth.fav_childhood_toy}')

              div(class='form-group')
                label(for='fav_childhood_game') Favourite game:
                input(name='fav_childhood_game', id='fav_childhood_game', type='text', class='form-control form-control-sm', value='#{auth.fav_childhood_game}')

              div(class='form-group')
                label(for='fav_meal') Favourite meal:
                input(name='fav_meal', id='fav_meal', type='text', class='form-control form-control-sm', value='#{auth.fav_meal}')

              div(class='form-group')
                label(for='worst_meal') Least Favourite meal:
                input(name='worst_meal', id='worst_meal', type='text', class='form-control form-control-sm', value='#{auth.worst_meal}')

              div(class='form-group')
                label(for='fav_pets') Favourite pet:
                input(name='fav_pets', id='fav_pets', type='text', class='form-control form-control-sm', value='#{auth.fav_pets}')
        br

        div(class='card')
          div(class='card-header', id='headingTwo')
            h4(class='mb-0', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls="collapseTwo")
              strong Education &emsp;
              small (Click to expand) 

          div(id='collapseTwo', class='collapse', aria-labelledby='headingTwo', data-parent='#accordion')
            div(class='card-body')
              div(class='form-group')
                label(for='primary_school') Where you attended Primary School:
                input(name='primary_school', id='primary_school', type='text', class='form-control form-control-sm', value='#{auth.primary_school}')

              div(class='form-group')
                label(for='high_school') Where you attended High School:
                input(name='high_school', id='high_school', type='text', class='form-control form-control-sm', value='#{auth.high_school}')

              div(class='form-group')
                label(for='school_story') Most memorable thing that happened to you at school:
                textarea(name='school_story', id='school_story', type='text', class='form-control form-control-sm') #{auth.school_story}

              div(class='form-group')
                label(for='best_friends') Your best friends:
                input(name='best_friends', id='best_friends', type='text', class='form-control form-control-sm', value='#{auth.best_friends}')  
                
              div(class='form-group')
                label(for='further_education') Further Education:
                input(name='further_education', id='further_education', type='text', class='form-control form-control-sm', value='#{auth.further_education}')
        br

        div(class='card')
          div(class='card-header', id='headingThree')
            h4(class='mb-0', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls="collapseThree")
              strong Adulthood &emsp;
              small (Click to expand) 

          div(id='collapseThree', class='collapse', aria-labelledby='headingThree', data-parent='#accordion')
            div(class='card-body')
              div(class='form-group')
                label(for='other_places_lived') Places you have lived:
                input(name='other_places_lived', id='other_places_lived', type='text', class='form-control form-control-sm', value='#{auth.other_places_lived}')
                
              div(class='form-group')
                label(for='holidays') Most memorable Holiday:
                textarea(name='holidays', id='holidays', type='text', class='form-control form-control-sm') #{auth.holidays}

              div(class='form-group')
                label(for='places_of_work') Where you have worked:
                input(name='places_of_work', id='places_of_work', type='text', class='form-control form-control-sm', value='#{auth.places_of_work}')

              div(class='form-group')
                label(for='famous') Most [in]famous family member:
                input(name='famous', id='famous', type='text', class='form-control form-control-sm', value='#{auth.famous}')
              
              div(class='form-group')
                label(for='other_memories') Most notable memory:
                input(name='other_memories', id='other_memories', type='text', class='form-control form-control-sm', value='#{auth.other_memories}')

              div(class='form-group')
                label(for='health') Health issues that have affected your life:
                textarea(name='health', id='health', type='text', class='form-control form-control-sm') #{auth.health}
        br

        div(class='card')
          div(class='card-header', id='headingFour')
            h4(class='mb-0', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls="collapseFour")
              strong  Introspection &emsp;
              small (Click to expand) 

          div(id='collapseFour', class='collapse', aria-labelledby='headingFour', data-parent='#accordion')
            div(class='card-body')
              div(class='form-group')
                label(for='self_description') How you describe yourself to others:
                textarea(name='self_description', id='self_description', type='text', class='form-control form-control-sm') #{auth.self_description}
                
              div(class='form-group')
                label(for='brief_me') Who you really are:
                textarea(name='brief_me', id='brief_me', type='text', class='form-control form-control-sm') #{auth.brief_me}

              div(class='form-group')
                label(for='quote') Favourite Quote:
                textarea(name='quote', id='quote', type='text', class='form-control form-control-sm') #{auth.quote}
        br

        div(class='card')
          div(class='card-header', id='headingFive')
            h4(class='mb-0', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls="collapseFive") 
              strong Online Presence &emsp;
              small (Click to expand) 

          div(id='collapseFive', class='collapse', aria-labelledby='headingFive', data-parent='#accordion')
            div(class='card-body')
              div(class='form-group')
                label(for='publications') Your publications:
                input(name='publications', id='publications', type='text', class='form-control form-control-sm', value='#{auth.publications}')

              div(class='form-group')
                label(for='social_media') Social media accounts:
                input(name='social_media', id='social_media', type='text', class='form-control form-control-sm', value='#{auth.social_media}')
                
              div(class='form-group')
                label(for='website') Your Website address:
                input(name='website', id='website', type='text', class='form-control form-control-sm', value='#{auth.website}')
        br

        div(class='card')
          div(class='card-header', id='headingSix')
            h4(class='mb-0', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls="collapseSix")
              strong Story Interests &emsp;
              small (Click to expand) 

          div(id='collapseSix', class='collapse', aria-labelledby='headingSix', data-parent='#accordion')
            div(class='card-body')
              div(class='form-group')
                label(for='ancestry_site') Particular interests in ancestry:
                textarea(name='ancestry_site', id='ancestry_site', type='text', class='form-control form-control-sm') #{auth.ancestry_site}

              div(class='form-group')
                label(for='Stories_you_want_to_tell') Note any Stories you think you might like to record:
                textarea(name='Stories_you_want_to_tell', id='Stories_you_want_to_tell', type='text', class='form-control form-control-sm') #{auth.Stories_you_want_to_tell}
        br

        input(type='submit' value='Submit' class='btn btn-primary')
        a(href='/' class='btn btn-danger float-right') Back to Home 
        br
        br
