//-
  * settings.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Implements a list of basic user settings
  *
  * @author: Zane
  * @created: 31/08/2018
  * @modified: 31/08/2018

extends layout

block stylesheets
  link(href='/css/profile/profile.css', rel='stylesheet')

block content
  div(class='row justify-content-md-center mb-5')
    div(class='col-md-5')
      if errors.length > 0
          div(class = 'alert alert-warning')
            ul
              each err in errors
                li= err.msg
      h2(class='margin-top') Settings
      hr
      form(method='post', action='/settings/password')
        h4 Change Password
        input(type='hidden', name='_csrf', value='#{csrfToken}')
        div(class='form-group')
          label(for='old-password') Old password
          input(type='password', id='old-password', name='old_password', class='form-control')
        div(class='form-group')
          label(for='new-password') New password
          input(type='password', id='new-password', name='new_password', class='form-control')
        div(class='form-group')
          label(for='verify-password') Verify new password
          input(type='password', id='verify-password', name='verify_password', class='form-control')
        button(type='submit', class='btn btn-primary') Change Password
      hr
      form(method='post', action='/settings')
        h4 Details and preferences
        input(type='hidden', name='_csrf', value='#{csrfToken}')
        div(class='form-group')
          label(for='gender') Gender
          select(id='gender', name='gender', class='form-control')
            option(value='UNCHANGED', selected='true') Unchanged
            option(value='FEMALE') Female
            option(value='MALE') Male
            option(value='OTHER') Other
        div(class='form-group ml-4')
          input(type='checkbox', id='display-dob', name='display_dob', checked=preferences.profile.displayDOB, class='form-check-input')
          label(for='display-dob', class='form-check-label mt-1') Display date of birth on profile
        div(class='form-group ml-4')
          input(type='checkbox', id='show-in-search', name='show_in_search', checked=preferences.profile.displayInSearch, class='form-check-input')
          label(for='show-in-search', class='form-check-label mt-1') Display me in search results
        button(type="submit", class='btn btn-primary') Update
