//-
  * signin.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Implements sign in form.
  *
  * @author: Quang, Malith
  * @created: 15/05/2018
  * @modified: 28/05/2018


extends layout
block content
  div(class='row pt-3')
    if errors.length > 0
      div(class = 'alert alert-warning')
        ul
          each err in errors
            li= err.msg
    div(class='col-lg-6 col-sm-8 mx-auto')
      form(method='post', action='/signin')
        input(type='hidden', name='_csrf', value='#{csrfToken}')
        div(class='form-group')
          label(for='email') Email address
          input(name='email', id='email', type='email', class='form-control')
        div(class='form-group')
          label(for='password') Password
          input(name='password', id='password', type='password', class='form-control')
        div(class='form-footer')
          div
            a(href='/signup')
              small Don't have an account? Sign up here
          button(class='btn btn-primary mt-2', type='submit') Login
            