/**
 * help.sass
 *
 * SASS file for styling the help.jade view.
 *
 * @author: Tim
 * @created: 30/09/2018
 * @modified:
 */

@import url('https://themes.googleusercontent.com/fonts/css?kit=bpWxj1uYanMR8CPS4Qxq68WkuTYVGvhBaVDhlhmNOi8')

ol
  margin: 0
  padding: 0

table
  td, th
    padding: 0

.c22
  color: #434343
  font-weight: 400
  text-decoration: none
  vertical-align: baseline
  font-size: 30pt
  font-style: normal

.c11
  color: #000000
  font-weight: 700
  text-decoration: none
  vertical-align: baseline
  font-size: 12pt
  font-family: "Consolas"
  font-style: normal

.c1
  color: #000000
  font-weight: 400
  text-decoration: none
  vertical-align: baseline
  font-size: 72pt
  font-family: "Italianno"
  font-style: normal

.c3
  color: #000000
  font-weight: 700
  text-decoration: none
  vertical-align: baseline
  font-size: 24pt
  font-style: normal

.c2
  color: #000000
  font-weight: 400
  text-decoration: none
  vertical-align: baseline
  font-size: 12pt
  font-style: normal

.c10
  color: #000000
  font-weight: 700
  text-decoration: none
  vertical-align: baseline
  font-size: 12pt
  font-style: normal

.c7
  margin-left: 18pt
  padding-top: 3pt
  padding-bottom: 0pt
  line-height: 1.0
  orphans: 2
  widows: 2
  text-align: left

.c8
  margin-left: 18pt
  padding-top: 3pt
  padding-bottom: 4pt
  line-height: 1.0
  orphans: 2
  widows: 2
  text-align: left

.c20
  padding-top: 10pt
  padding-bottom: 0pt
  line-height: 1.0
  orphans: 2
  widows: 2
  text-align: left

.c4
  padding-top: 0pt
  padding-bottom: 0pt
  line-height: 1.15
  orphans: 2
  widows: 2
  text-align: left

.c15
  color: #000000
  font-weight: 400
  text-decoration: none
  vertical-align: baseline

.c24
  padding-top: 0pt
  padding-bottom: 0pt
  line-height: 1.15
  page-break-after: avoid
  text-align: left

.c12
  padding-top: 0pt
  padding-bottom: 3pt
  line-height: 1.15
  page-break-after: avoid
  text-align: center

.c14
  padding-top: 0pt
  padding-bottom: 0pt
  line-height: 1.15
  page-break-after: avoid
  text-align: center

.c16
  padding-top: 20pt
  padding-bottom: 6pt
  line-height: 1.15
  page-break-after: avoid
  text-align: left

.c6
  padding-top: 4pt
  padding-bottom: 4pt
  line-height: 1.0
  page-break-after: avoid
  text-align: left

.c26
  text-decoration-skip-ink: none
  -webkit-text-decoration-skip: none
  color: #1155cc
  text-decoration: underline

.c0
  color: inherit
  text-decoration: inherit

.c23
  max-width: 481.9pt
  padding: 56.7pt 56.7pt 56.7pt 56.7pt

.c21
  font-family: "Consolas"
  color: #1155cc

.c25
  font-size: 36pt
  font-style: normal

.c13
  font-size: 9pt
  font-style: italic

.c19
  background-color: #ffffff

.c17
  font-weight: 700

.c9
  height: 24pt

.c5
  height: 12pt

.c18
  font-size: 24pt

.title
  padding-top: 0pt
  color: #000000
  font-size: 72pt
  padding-bottom: 3pt
  font-family: "Italianno"
  line-height: 1.15
  page-break-after: avoid
  orphans: 2
  widows: 2
  text-align: center

.subtitle
  padding-top: 0pt
  color: #434343
  font-size: 30pt
  padding-bottom: 0pt
  line-height: 1.15
  page-break-after: avoid
  orphans: 2
  widows: 2
  text-align: center

li
  color: #000000
  font-size: 12pt


p
  margin: 0
  color: #000000
  font-size: 12pt

h1
  padding-top: 20pt
  color: #000000
  font-size: 36pt
  padding-bottom: 6pt
  line-height: 1.15
  page-break-after: avoid
  orphans: 2
  widows: 2
  text-align: left

h2
  padding-top: 4pt
  color: #000000
  font-weight: 700
  font-size: 24pt
  padding-bottom: 4pt
  line-height: 1.0
  page-break-after: avoid
  orphans: 2
  widows: 2
  text-align: left

h3
  padding-top: 16pt
  color: #434343
  font-size: 14pt
  padding-bottom: 4pt
  line-height: 1.15
  page-break-after: avoid
  orphans: 2
  widows: 2
  text-align: left

h4
  padding-top: 14pt
  color: #666666
  font-size: 12pt
  padding-bottom: 4pt
  line-height: 1.15
  page-break-after: avoid
  orphans: 2
  widows: 2
  text-align: left

h5
  padding-top: 12pt
  color: #666666
  font-size: 11pt
  padding-bottom: 4pt
  line-height: 1.15
  page-break-after: avoid
  orphans: 2
  widows: 2
  text-align: left

h6
  padding-top: 12pt
  color: #666666
  font-size: 11pt
  padding-bottom: 4pt
  line-height: 1.15
  page-break-after: avoid
  font-style: italic
  orphans: 2
  widows: 2
  text-align: left
