/**
 * home.sass
 *
 * SASS file for styling the home.jade view.
 *
 * @author: Quang
 * @created: 10/08/2018
 * @modified: 29/09/2018
 */


@import ../../node_modules/bootstrap/scss/functions
@import ../../node_modules/bootstrap/scss/variables
@import ../../node_modules/bootstrap/scss/mixins/breakpoints
@import ./components/tag/tag
@import color

#menu
  background-color: $WHITE
  bottom: 0
  border: 1px solid $BORDER
  border-top-left-radius: 4px
  border-top-right-radius: 4px
  color: $white
  height: 200px
  left: 0
  margin: 0 auto
  position: fixed
  right: 0


.container-fluid
  overflow: hidden

.instruction
  color: $BLACK
  font-style: italic

.instruction .btn
  font-style: normal
  font-size: 12px
  padding: 4px 8px

.instruction h5
  font-style: normal

.navigator .list-group-item
  align-items: center
  color: $PRIMARY
  display: flex

.story
  width: 100%

.story-info
  color: $SUB_TEXT
  font-style: italic


@include media-breakpoint-down(sm)
  #menu
    height: 100px

  #storyCarousel
    width: 100%


