/**
 * index.sass
 *
 * SASS file for styling the tag.jade view.
 *
 * @author: Quang
 * @created: 19/08/2018
 * @modified: 19/08/2018
 */



#main
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

#title
  font-size: 72px

.desc
  font-style: italic
  opacity: .7
