/**
 * style.sass
 *
 * SASS file for styling the layout.jade view.
 *
 * @author: Quang
 * @created: 27/03/2018
 * @modified: 29/09/2018
 */

@import color

*:focus
  outline: none

a, a:hover
  color: $PRIMARY

html, body
  height: 100%

body
  background-color: $BACKGROUND_COLOR
  color: $BLACK !important
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif

h1, h2, h3, h4, h5, h6
  color: $BLACK !important

nav.navbar
  background-color: $SECONDARY

nav.navbar .material-icons
  font-size: 28px

small
  font-size: 16px

#lsoa-logo
  width: 48px
  height: auto

#nav-search
  width: 100%

#profileDropdown
  align-items: center
  display: flex
  justify-content: center

.navbar-dark .navbar-nav .nav-link
  color: $WHITE

.full-height
  height: calc(100% - 92px)

.btn-accent, .btn-accent:hover, .btn-accent:active, .btn-accent:visited, .btn-accent:focus
  background-color: $ACCENT !important
  border-color: $ACCENT !important
  color: $BLACK !important

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus
  background-color: $SECONDARY !important
  border-color: $SECONDARY !important
  color: $WHITE !important

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus
  background-color: $PRIMARY !important
  border-color: $PRIMARY !important
  color: $WHITE !important
