/**
 * _story-card.sass
 *
 * SASS file for styling the story cards in search and profile views
 * (as of 2018-09-01).
 *
 * @author: Scott
 * @created: 01/09/2018
 * @modified: 29/09/2018
 */
  
  
@import ../components/tag/tag
@import ../color

.story
  background-color: $WHITE
  max-width: 500px

.story .card-text
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

