//-
  * seaerch-type.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Implements basic view for displaying search results for one type of search only
  *
  * @author: Scott
  * @created: 06/09/2018
  * @modified: 06/09/2018

extends ../layout

block stylesheets
  link(href='/css/search/search.css', rel='stylesheet')

block content
  //- Search Results
  div(class='row')
    div(class='col')
      if stories.length > 0
        //- Header - By title
        div(class='row justify-content-center')
          div(class='col-6')
            h2(class='cat-title') Results for:  #[span(class='keyword') #{search}] in #[span(class='search-by') #{type}]
        //- Story cards
        each story in stories
          include ../components/story/story-card
          +story-card(story)
      else
        //- Header
        div(class='row justify-content-center')
          div(class='col-6')
            h2(class='cat-title') No results for: #[span(class='keyword') #{search}] in #[span(class='search-by') #{type}]
      //- Footer
      div(class='row footer')
        div(class='col')