//-
  * search-all.jade
  * Extends the layout of the base UI (layout.jade)
  *
  * Implements basic view for displaying search results.
  *
  * @author: Scott
  * @created: 01/09/2018
  * @modified: 08/09/2018

extends ../layout

block stylesheets
  link(href='/css/search/search.css', rel='stylesheet')

block content
  //- Search Results
  div(class='row')
    div(class='col')
      if stories.title.length > 0
        //- Header - By title
        div(class='row justify-content-center')
          div(class='col-6')
            h2(class='cat-title') Results - By #[strong(class='search-by') title] for: #[span(class='keyword') #{search}]
        //- Story cards
        each story in stories.title
          include ../components/story/story-card
          +story-card(story)
        //- see more than 5 search results
        if stories.title.length >= 5
          div(class='row justify-content-center')
            div(class='col-6')
              h2(class='cat-title')
                a(href='more/title/' + search) See more
      if stories.tag.length > 0
        //- Header - By tags
        div(class='row justify-content-center')
          div(class='col-6')
            h2(class='cat-title') Results - By #[strong(class='search-by') theme] for: #[span(class='keyword') #{search}]
        //- Story cards
        each story in stories.tag
          include ../components/story/story-card
          +story-card(story)
        //- see more than 5 search results
        if stories.tag.length >= 5
          div(class='row justify-content-center')
            div(class='col-6')
              h2(class='cat-title')
                a(href='more/tag/' + search) See more
      if stories.city.length > 0
        //- Header - By city
        div(class='row justify-content-center')
          div(class='col-6')
            h2(class='cat-title') Results - By #[strong(class='search-by') location] for: #[span(class='keyword') #{search}]
        //- Story cards
        each story in stories.city
          include ../components/story/story-card
          +story-card(story)
        //- see more than 5 search results
        if stories.city.length >= 5
          div(class='row justify-content-center')
            div(class='col-6')
              h2(class='cat-title')
                a(href='more/city/' + search) See more
      if stories.title.length == 0 && stories.tag.length == 0 && stories.city.length == 0
        //- Header
        div(class='row justify-content-center')
          div(class='col-6')
            h2(class='cat-title')= 'No results for: ' + search
      //- Footer
      div(class='row footer')
        div(class='col')