/**
 * create.sass
 *
 * SASS file for styling the create.jade view.
 *
 * @author: Quang
 * @created: 27/04/2018
 * @modified: 29/09/2018
 */

@import ../components/tag/tag
@import ../color

.container-fluid
  width: 60%

.form-control
  border-radius: 0

.form-control:focus
  border-color: $BLUE
  box-shadow: none

.ql-editor
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif

#add-tag
  align-self: center
  padding: 0 8px

#add-tag-btn
  border: none
  border-radius: 50%
  box-shadow: none
  height: 24px
  position: relative
  padding: 0
  width: 24px
  transition: background-color .7s ease-out

#add-tag-btn::after
  content: ''
  background-color: #c2c2c2
  position: absolute
  top: 50%
  left: 50%
  margin: -20px 0 0 -20px
  width: 40px
  height: 40px
  border-radius: 50%
  opacity: 0
  pointer-events: none

#add-tag-btn:active::after
  animation: ripple-effect .2s ease-in

#editor
  background-color: $WHITE
  height: 300px

#keyword-mdl .modal-body h5
  color: $PRIMARY !important
  font-style: italic
  font-weight: bold

#voice-record.on
  background-color: $RED !important
  border-color: $RED !important

#story-tag
  border: none

#tag-buttons .btn
  margin-left: 8px
  transition: background-color .2s ease, border-color .2s ease

#tag-buttons .btn:hover
  background-color: $RED
  border-color: $RED

#tag-buttons .btn:hover::after
  content: 'x'
  margin-left: 8px

#tag-buttons .btn:focus
  box-shadow: none

#tag-container
  align-items: stretch
  background-color: $WHITE
  border: 1px solid $BORDER
  display: flex
  padding: 8px 0

#tag-input
  border-right: 1px solid $BORDER
  flex: 1

#toolbar
  background-color: $WHITE

.btn .badge
  margin-left: 8px

.info
  color: $SECONDARY

.search-menu
  background-color: $SECONDARY
  color: $WHITE
  width: 100%

.search-suggestion
  cursor: pointer
  font-size: 16px
  padding: 8px

.search-suggestion:hover
  background-color: $PRIMARY
  color: $WHITE

.twitter-typeahead
  width: 100%

@keyframes ripple-effect
  0%
    transform: scale3d(0.3, 0.3, 1)
  25%, 50%
    opacity: .5
  100%
    opacity: 0
    transform: scale3d(1.2, 1.2, 1)
