/**
 * view.sass
 *
 * SASS file for styling the view.jade view.
 *
 * @author: Quang
 * @created: 27/04/2018
 * @modified: 28/05/2018
 */


@import ../components/_story-card.sass
@import ../color

.modal-footer
  justify-content: space-between

#edit-btn
  margin-right: 8px

#delete-mdl-btn, #edit-btn
  border: none
  box-shadow: none
  height: 37px
  position: relative
  transition: background-color .7s ease-out

.story-info
  color: $SUB_TEXT
  font-style: italic
