/**
 * search.sass
 *
 * SASS file for styling the search.jade view.
 *
 * @author: Scott
 * @created: 01/09/2018
 * @modified: 01/09/2018
 */

@import ../components/_story-card.sass
@import ../color

.card
  max-width: 800px
  margin: auto

.cat-title
  text-align: center
  margin: 1ex 0

.footer
  height: 50px
  width: inherit

.keyword
  border-radius: 4px
  background-color: $SECONDARY
  color: $WHITE
  padding: 0 8px 4px 8px

.search-by
  color: $PRIMARY
  font-style: italic

