//-
  * story-card.jade
  *
  * UI component that represent a story card for showing a snippet of a story
  * @author: Scott Garton, Quang
  * @created: 31/08/2018
  * @modified: 29/09/2018

mixin story-card(story)
    div(class='story card mt-1')
      div(class='card-body')
        a(href='/story/' + story.id)
          h5(class='card-title')= story.title
        small(class='card-subtitle text-secondary')= 'Posted: ' + story.posted_at
        div
          each tg in story.tags
            include ../tag/tag
            +tag(tg, true)
        hr
        a(href="/story/" + story.id, class="btn btn-primary") Read the story