//-
  * tag.jade
  *
  * UI component that represent a tag
  * @created: 27/03/2018
  * @modified: 28/05/2018

mixin tag(tg, linkable, style)
  - var classStyle = style || 'btn tag btn-sm mr-2 mt-2'
  if linkable
    a(href='/search/more/tag/#{tg.name}')
      button(class=classStyle,
      data-tag=tg.name,
      data-tag-counter=tg.counter) #{tg.name} #[span(class='badge badge-light') #{tg.counter}]
  else
    button(class=classStyle,
    data-tag=tg.name,
    data-tag-counter=tg.counter) #{tg.name} #[span(class='badge badge-light') #{tg.counter}]



